table {
  width: 100%;

  .excellent {
    color: var(--excellent);
  }

  .good {
    color: var(--good);
  }

  .ok {
    color: var(--ok);
  }

  .weak {
    color: var(--weak);
  }
}

.noData {
  text-align: center;
  padding: 40px;
}

mat-progress-bar {
  margin-top: 50%;
}
