.container {
  width: 100%;
  overflow: auto;

  table {
    width: 100%;

    .excellent {
      color: var(--excellent);
    }

    .good {
      color: var(--good);
    }

    .ok {
      color: var(--ok);
    }

    .weak {
      color: var(--weak);
    }
  }

  .no-data {
    text-align: center;
    padding: 40px;
  }
}
