<app-results-chart
  [dataSource]="dataSource.filteredData"
  [criteria]="filterCriteriaText"
></app-results-chart>

<app-filter (filterChange)="handleFilterChange($event)"></app-filter>

<div class="container">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    matSort
    matSortActive="student"
    matSortDirection="asc"
  >
    <ng-container matColumnDef="student">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>STUDENT</th>
      <td mat-cell *matCellDef="let element">
        {{ element.student }}
      </td>
    </ng-container>

    <ng-container matColumnDef="week">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE COMPLETED</th>
      <td mat-cell *matCellDef="let element">{{ element.week | date }}</td>
    </ng-container>

    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CONTENT</th>
      <td mat-cell *matCellDef="let element">{{ element.content }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TYPE</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <ng-container matColumnDef="skill">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>SKILL</th>
      <td mat-cell *matCellDef="let element">{{ element.skill }}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>RESULT</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="getAssesmentCategory(element.value)"
      >
        {{ element.value }}
      </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TIME SPENT</th>
      <td mat-cell *matCellDef="let element">{{ element.time }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div *ngIf="dataSource.filteredData?.length === 0" class="no-data">
    {{ "No content has been completed" + filterCriteriaText }}
  </div>
</div>
