<mat-form-field>
  <mat-label>Class</mat-label>
  <mat-select (selectionChange)="handleClassChange($event)">
    <mat-option *ngFor="let class of viewClasses" [value]="class">
      {{ class }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Student</mat-label>
  <mat-select (selectionChange)="handleStudentChange($event)">
    <mat-option *ngFor="let student of viewStudents" [value]="student">
      {{ student }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>From Date</mat-label>
  <input
    matInput
    [matDatepicker]="picker1"
    (dateChange)="handleStartDateChange($event)"
  />
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>To Date</mat-label>
  <input
    matInput
    [matDatepicker]="picker2"
    (dateChange)="handleEndDateChange($event)"
  />
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
